<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alcedo.dpm">

<!--    <uses-permission android:name="android.permission.USES_POLICY_FORCE_LOCK" />-->
<!--    <uses-permission android:name="android.permission.USES_POLICY_WIPE_DATA" />-->
<!--    <uses-permission android:name="android.permission.USES_POLICY_WATCH_LOGIN" />-->
<!--    <uses-permission android:name="android.permission.USES_POLICY_RESET_PASSWORD" />-->
<!--    <uses-permission android:name="android.permission.USES_POLICY_LIMIT_PASSWORD" />-->
<!--    <uses-permission android:name="android.permission.USES_POLICY_EXPIRE_PASSWORD" />-->
<!--    <uses-permission android:name="android.permission.USES_POLICY_DISABLE_KEYGUARD_FEATURES" />-->
<!--    <uses-permission android:name="android.permission.USES_POLICY_DISABLE_CAMERA" />-->
<!--    <uses-permission android:name="android.permission.USES_ENCRYPTED_STORAGE" />-->
    <uses-permission android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_PROFILE_AND_DEVICE_OWNERS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--设备管理-->
        <receiver
            android:name="com.alcedo.dpm.DPMReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>

        </receiver>
        <!--设备管理 END-->
    </application>

</manifest>